################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ElectronicsShop
/ElectronicsShop/bin
/ElectronicsShop/obj/Debug
/ElectronicsShop/Images
/Images
